<!DOCTYPE html>
<html>
	<head>
		<meta charset ="UTF-8">
		<title>Login Form</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">"
	</head>
	
	<body>
		<!-- header -->
		<div th:replace="layouts/commonHeader :: header">My header</div>
		
		<!-- content -->
		<section layout:fragment="content">
			<p> replace this with a page that has layout:fragment="content"</p>
			
		</section>
		
		<!-- footer -->
		<div th:replace="layouts/commonFooter :: footer">My footer</div>
		<script src="js/bootstrap.bundle.js"></script>
		
	</body>
</html>